/node_modules
/vendor

.env
.env.*

/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*

/public/storage

/.idea
/.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
